  main{
      display: flex;
      flex-direction: column;
      background-color: #000000;
      color:white;
      width: 100%;
  }


  #hisLEFT{ 
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    background-color: #e6e6e6;
    padding-top: 80px;

  }
  #hisLEFT1{
    width: 20%;
    padding-left: 60px;
  }
  #hisLEFT2{
    width:80%s;
    padding-right: 30px;
  }

  #hisRIGHT{
    width: 50%;
    background-color: #2e2c2c;
    padding-top: 80px;
    padding-left: 80px;
  }

  
  #history{
    width: 80%;
    margin: 0 auto;
  }
  
  #history h1{
    font-size: 4rem;
    -webkit-text-stroke: 1px #ff050d;
    color: #000000;
  }

  .year{
    margin-top: 50px;
  }

  #kulmiHISTORY{
    width: 100%;
    min-height: 400px;
    display: flex;
    margin-top: -9px;
  }




