*, :after, :before, html {
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
}

header{
position: relative;
width: 100%;
height: 100px;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 28px 12%;
transition: all .50s ease;
}

.logo{
display: flex;
align-items: center;
}

.navbar{
display: flex;
}

.navbar a{
color: black;
font-size: 1.1rem;
font-weight: 500;
padding: 5px 0;
margin: 0px 30px;
transition: all .50s ease;  
}

.navbar a:hover{
color: rgb(114, 6, 6);
}
.navbar a.active{
color: rgb(114, 6, 6);
}

.nav-logreg{
display: flex;
align-items: center;
}

.nav-logreg a{
margin-right: 25px;
margin-left: 10px;
transition: all .50s ease;  
}

#menu{
display: none;
}



main{
  display: flex;  
  align-items: center;  
  width: 100%;
  height: 100%;  
}
#slider{
  display: flex;  
  align-items: center;  /* Center the items vertically within the container */
  width: 100%; /*Width and height per mos me na u zvoglu foto kur tbojm zoomout */
  height: 100%;
}


#imazhi{
  position: static; /* E ngashme me relative */
  z-index: 999; /* Give the photo a lower z-index than the header */
  width: 100%;
  height: auto;
  object-fit: cover;
}  
footer {
  padding-left: 140px;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  height: 400px;
}

#footer1{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.foot1 li a {
  align-items: center;
  text-decoration: none;
  color: #cfc7c7;
}

.foot1 h3  {
  color: #dd1c21;
}

#kupa {
  display: flex;  
  justify-content: space-around;
  align-items: center; 
  width: 100%; 
  align-items: center;
  height: 400px;
  margin-right: 250px;

}

.tournaments {
  align-items: center; 
}
.tournaments img{
  width:170px;
  height:170px;
}
#SOCIALMEDIA {
  display: flex;
  flex-direction: column;
}
#SOCIALMEDIA #mediat{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#babafooterit {
  height: 140px;
  transform: skewY(-3deg);
  margin-bottom: -52px;
}
#redmajt{
  height: 7%;
  width: 10%;
  background-color: red;
}

#reddjatht{
  float: right;
  height: 7%;
  width: 10%;
  background-color: red;
}
#reddjatht2{
  float: right;
  height: 7%;
  width: 10%;
  background-color: red;
}

#kaft90gjere{

  height: 7%;
  width: 90%;
  background-color: rgb(45, 37, 37);
  margin-bottom: -1px;
}
#zi80{
  height: 86%;
  background-color: #000000;
}


/* ARRITJET INDEX  */
#bigachiv{
  height: auto;
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#achivplaces{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.placeschild{
  display: flex;
  flex-direction: column;
}
.placeschild h1{
  -webkit-text-stroke: 1px #ff050d;
  font-size: 4rem;
}
.placeschild h5{
  font-size: 3rem;
  color: white;
}
#bigachivtitle{
  color: white; 
  font-size: 4rem;"
}

@media (max-width:1280px) {
  header{
  padding: 14px 2%;
    transition: .2s;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}




















@media (max-width:950px) {
  #menu{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 240px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
    background: white;
  }
  .navbar a{
    display: block;
    margin: 11px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    transform: translateX(5px);
  }
  .navbar a.active{
    color: rgb(114, 6, 6);
  }
  .navbar.open{
    right: 2%;
  }
  #kupa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    height: auto;
  }
  .tournaments {
    padding-bottom: 50px;

  }
  .tournaments img{
    width:120px;
    height:120px;
  }
  #achivplaces{
    margin-top: -60px;
    flex-direction: column;
    padding: 50px;
    flex-wrap: wrap;
  }
  #kallamoqi{
    font-size: 1rem;
  }
  .placeschild h1{
    font-size: 3rem;
  }
  .placeschild h5{
    font-size: 1rem;
    color: white;
  }
  #bigachiv{
    padding-top: 50px;
    padding-bottom: 10px;

  }
  #bigachivtitle{
    font-size: 2rem;"
  }

  
}


