main{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
#teams80{
    width: 80%;
    height: auto;
    background-color: rgb(42, 51, 117);
    margin:0 auto;
    text-align: center;
    padding-top: 100px;
}

.teamC{
    width: 280px;
    height: 350px;
    border: 1px solid red;
}
#ekipet{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

#PUBG{
    background: url("/img/pubgmobileL.png") no-repeat;
    background-position: center;
}
#VALORANT{
    background: url("/img/valorantL.png") no-repeat;
}
#CSGO{
    background: url("/img/csgoL.png") no-repeat;
}
#DOTA2{
    background: url("/img/dota2L.png") no-repeat;
}