main{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
#teams80{
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin:0 auto;
    text-align: center;
    padding-top: 100px;
}

.teamC{
    width: 280px;
    height: 350px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
    padding-top: 215px;

}
#ekipet{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}




#PUBG{
    background: url("/img/pubgmobileL.png") no-repeat;
    background-position: center;
    color: white;
}
.shfaqu1{
    display: none;
    height: 0;
    overflow: hidden;
}

#PUBG:hover{
    background: url("/img/pubgmobile.png") no-repeat;
    background-position: center;
    transform: scale(0.99);
    transition-duration: 0.3s;
}

#PUBG:hover .shfaqu1{
    display: block;
    overflow: visible;
}






#VALORANT{
    background: url("/img/valorantL.png") no-repeat;
}
.shfaqu2{
    display: none;
    height: 0;
    overflow: hidden;
}

#VALORANT:hover{
    background: url("/img/valorant.png") no-repeat;
    background-position: center;
    transform: scale(0.99);
    transition-duration: 0.3s;
}

#VALORANT:hover .shfaqu2{
    display: block;
    overflow: visible;
    color: white;
}




#CSGO{
    background: url("/img/csgoL.png") no-repeat;
}
.shfaqu3{
    display: none;
    height: 0;
    overflow: hidden;
}

#CSGO:hover{
    background: url("/img/csgo.png") no-repeat;
    background-position: center;
    transform: scale(0.99);
    transition-duration: 0.3s;
}

#CSGO:hover .shfaqu3{
    display: block;
    overflow: visible;
    color: white;
}





#DOTA2{
    background: url("/img/dota2L.png") no-repeat;
}
.shfaqu4{
    display: none;
    height: 0;
    overflow: hidden;
}

#DOTA2:hover{
    background: url("/img/dota2.png") no-repeat;
    background-position: center;
    transform: scale(0.99);
    transition-duration: 0.3s;
}

#DOTA2:hover .shfaqu4{
    display: block;
    overflow: visible;
    color: white;
}



@media (max-width:1350px) {
    #ekipet{
      display: flex;
      flex-wrap: wrap;
      flex-grow: 2;
    }
    .teamC{
        margin: 20px;

    }

}


@media (max-width:750px) {
    

}